body{
    background: url("image.jpg");
}
.heading {
    background-color: rgb(92, 180, 70);
    box-shadow: 10px 10px 20px rgb(21, 74, 17);
    margin-top: 0%;
    padding: 25px;
}
.note_for_heading {
    font-size: 15px;
    color: aliceblue;
    margin-top: 10px;
}
.footer {
    background-color: rgb(177, 221, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
canvas {
    border: 10px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
}
video {
    border: 10px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
}